<%- include(`../partials/header.ejs`, { user }) %>
<div class="container d-flex flex-wrap justify-content-around gap-3" >
    <div class="card" style="width: 18rem;">
        <img src="<%= movie.Poster%> " class="card-img-top" alt="movie poster">
           <div class="card-body">
           <h5 class="card-title"><%= movie.Title %></h5>
           <p class="card-text">Year: <%= movie.Year %></p>
           <p class="card-text">Genre: <%= movie.Genre %></p>
           <p class="card-text">Runtime: <%= movie.Runtime%></p>
           <p class="card-text">Actors: <%= movie.Actors%></p>
           <p class="card-text">Plot: <%= movie.Plot%></p>
         
    </div>
</div>
<div>
    <p class="fw-bold">Comments:</p>
 <% if (foundMovie.comments.length == 0) { %>
    <p>Be the first to review this movie</p>
    <% } else { %>
        <% foundMovie.dataValues.comments.forEach(function(comment) { %> <p> <%=comment.user.email%> says:</p>
            <p class=“ms-4 fst-italic fw-lighter”><%= comment.content %></p> 
            <% })} %>
            
          
            <form class="card-link" method="POST" action="/movies">
                <button class="btn btn-outline-danger" type="submit" value="<%=foundMovie.dataValues.comments.id%>" name="commentId">Edit Review</button>
            </form>  
        </div>
<div>
    <form action="/movies" method="POST" >
        <section>
            <label for="comment">Write a review</label>
            <textarea id="comment" cols="30" rows="5" name="comment"></textarea>
            <input hidden name="imdbID" value="<%= movie.imdbID%>">
            <input hidden name="title" value="<%= movie.Title%>">
            <input hidden name="year" value="<%= movie.Year%>">
            <button type="submit">Submit</button>

        </section>
    </form>
</div>

<!-- I got the layout and style from bootstrap and then just added the info I got from the api in p tags -->

<%- include(`../partials/footer.ejs`) %>



