<%- include(`../partials/header.ejs`, { user }) %>
<div class="container d-flex flex-wrap justify-content-around gap-3" >
    <div class="card" style="width: 18rem;">
        <img src="<%= movie.Poster%> " class="card-img-top" alt="movie poster">
           <div class="card-body">
           <h5 class="card-title"><%= movie.Title %></h5>
           <p class="card-text">Year: <%= movie.Year %></p>
           <p class="card-text">Genre: <%= movie.Genre %></p>
           <p class="card-text">Runtime: <%= movie.Runtime%></p>
           <p class="card-text">Actors: <%= movie.Actors%></p>
           <p class="card-text">Plot: <%= movie.Plot%></p>
         
       </div>
</div>

<!-- I got the layout and style from bootstrap and then just added the info I got from the api in p tags -->



