<%- include(`../partials/header.ejs`, { user }) %>
<div class="container d-flex flex-wrap justify-content-around gap-3" >
<% movies.Search.forEach(movie => {%>
   <div class="card" style="width: 18rem;">
    <img src="<%= movie.Poster%> " class="card-img-top" alt="movie poster">
    <div class="card-body">
      <h5 class="card-title"><%= movie.Title%> </h5>
      <p class="card-text"> <%= movie.Year%> </p>
      <a href="/movies/<%= movie.imdbID %>" class="btn btn-info">Details</a>
    </div>
  </div>
<% }); %>
</div>
<%- include(`../partials/footer.ejs`) %>